:root {
    --main: #161b22;
    --main-offset: #0d1117;
    --main-light-offset: #1e252e;
    --border: #292f36;
    --text: rgb(128, 128, 128);
}

html,
body {
    padding: 0;
    margin: 0;
    background-color: var(--main-offset);
}

.container {
    background-color: var(--main);
    width: 550px;
    height: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 20px;
    padding: 20px;
}

.containerInv {
    background-color: var(--main);
    width: 500px;
    height: 250px;
    position: absolute;
    left: -52%;
    top: 59%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 20px;
    padding: 20px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    gap: 2px;
}

.ToggleContainer {
    background-color: var(--main);
    width: 590px;
    height: 90px;
    position: absolute;
    left: 50%;
    top: 110%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 20px;
}

.ChatContainer {
    background-color: var(--main);
    width: 350px;
    height: 600px;
    position: absolute;
    left: 138%;
    top: 59%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 20px;
    padding: 20px;
}

.inv {
    width: 50px;
    height: 50px;
    background-color: var(--main-light-offset);
    border-radius: 10px;
    outline: none;
    border: none;
    margin-bottom: 3px;
}

.invButtons {
    background-color: var(--main);
    width: 540px;
    height: 90px;
    position: absolute;
    left: -52%;
    top: 110%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 20px;
}

.invButtons input {
    height: 100%;
    width: 190px;
    background-color: var(--main-light-offset);
    border: none;
    outline: none;
    border-radius: 20px;
}

.inv a {
    position: absolute;
    transform: translate(-90%, 90%);
    font-size: 15px;
}

.inv img {
    position: relative;
    user-select: none;
    width: auto;
    height: 70%;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

.border {
    border: solid 4px var(--border);
}

#img {
    margin-top: 20px;
}

#name {
    margin-top: 28px;
}

p {
    color: aliceblue;
    font-family: 'Minecraft', sans-serif;
    margin: 4px;
    font-family: 'MinecraftiaRegular';
    font-weight: normal;
    font-style: normal;
}

a {
    color: aliceblue;
    font-family: 'Minecraft', sans-serif;
    margin: 4px;
    font-family: 'MinecraftiaRegular';
    font-weight: normal;
    font-style: normal;
}

.buttons button {
    padding: 10px;
    background-color: var(--main);
    color: aliceblue;
    border: none;
    outline: none;
    border-radius: 5px;
    height: 80px;
    width: 200px;
    display: block;
    margin: 20px;
}

button:hover {
    border: solid 4px var(--border);
}

.skin {
    height: 100%;
    text-align: center;
    float: left;
    width: 200px;
    position: relative;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
}

.icon {
    margin-top: 6px;
}

.buttons {
    height: 100%;
    width: 56%;
    float: right;
    background-color: var(--main-light-offset);
    border-radius: 20px;
}

.ToggleContainer input {
    height: 100%;
    width: 90px;
    background-color: var(--main-light-offset);
    border: none;
    outline: none;
    border-radius: 20px;
}

.input {
    display: flex;
    align-items: center;
    width: 105%;
    height: 65px;
    bottom: 10px;
    overflow: hidden;
    position: absolute;
    left: 0;
}

.chat {
    margin: 10px;
    border-radius: 50px;
    height: 50px;
    width: 70%;
    padding-left: 20px;
    color: var(--text);
    font-family: 'Minecraft', sans-serif;
    font-family: 'MinecraftiaRegular';
    font-size: 16px;
}

.sent-but {
    width: 50px;
    height: 50px;
    background-color: var(--main-light-offset);
    border-radius: 50%;
    margin: 0;
}

.sent-but img {
    width: 100%;
    height: 100%;
}